<?xml version="1.0"?>

<robot
  name="quadrotor"
  xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Included URDF Files -->
    <xacro:include filename="$(find air_combat_simulation)/models/urdf/uav_base_enemy.urdf.xacro" />
    
    <!-- Instantiate quadrotor_base_macro once (has no parameters atm) -->
    <xacro:quadrotor_base_macro />

</robot>