<?xml version="1.0"?>

<launch>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">


    <arg name="world_name" value="$(find air_combat_simulation)/worlds/empty.world"/>

    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>
  <!-- Kamerasız çalıştırmak için-->
  <include file="$(find air_combat_simulation)/launch/spawn_multi_uavs.launch" />
    <arg name="model" value="$(find air_combat_simulation)/models/urdf/uav.gazebo.xacro"/> 

  <!-- Kamera ile çalıştırmak için -->
  <!-- <include file="$(find air_combat_simulation)/launch/spawn_multi_uavs.launch" /> -->
    <!-- <arg name="model" value="$(find air_combat_simulation)/urdf/uav_asus.gazebo.xacro"/>  -->
  <node pkg="air_combat_simulation" name="arm_uav" type="arm_uav.py" output="screen"/>
  <node pkg="air_combat_simulation" name="takeoff" type="takeoff.py" output="screen"/>
</launch>

